.shop_product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    margin: 3em 0;
}

@media only screen and (max-width: 992px){
    .shop_product{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 768px){
    .shop_product{
        grid-template-columns: repeat(1, 1fr);
    }
}